#header {
    background-color: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 60px;
}

#portfolioBox {
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 175px;
}

#portBoxheader {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#indBoxheader {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

#cat {
    margin-left: 15px;
}

#text {
    margin: 5px 0 0 13px;
}

body {
    background-image: url("../images/dust_scratches.png");
    background-size: cover;
}

h5 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
}

hr {
    background-color: gray;
    height: 1px;
    width: 100%;
    margin: 10px 15px 30px 15px;
}

.navbar {
    border-bottom: 2px solid gray;
}

.blueboxes {
    position: relative;
    background-color: #4aaaa5;
    text-align: center;
    width: 200px;
    bottom: 54px;
    padding: 10px 0 5px 0;
}

#sticky-footer {
    border-top: 4px solid #4aaaa5;
}