#header {
    background-color: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#portfolioBox {
    background-color: #ffffff;
}

body {
    background-image: url("../images/dust_scratches.png");
    background-size: cover;
}

h5 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
    border-bottom: 2px solid gray;
}

@media screen and (min-width: 500px) {
    #header {
        margin-left: 188px;
    }
}